@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

#root {
    display: flex;
    justify-content: center;
    background-color: #E5E5E5;
    height: 1000px
}
.container {
    width: 375px;
    height: 667px;
    margin-top: 100px;
    background-color: #FB6B6B;
    position: relative;
}
.cabecalho {
    display: flex;
    align-items: center;
}
.cabecalho img {
    width: 52px;
    height: 60px;
    margin-top: 40px;
    margin-left: 59px;
}
.cabecalho h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
    font-family: 'Righteous', cursive;
    margin-top: 40px;
    margin-left: 30px;
}
footer {
    background-color: #FFFFFF;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
footer p {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-family: 'Recursive', sans-serif;
}
.caixinha-pergunta {
    background-color: #FFFFFF;
    width: 300px;
    height: 65px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 37px;
    margin-top: 58px;
}
.caixinha-pergunta img {
    width: 20px;
    height: 23px;
    margin-left: 163px;
}
.caixinha-pergunta p {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    font-family: 'Recursive', sans-serif;
    margin-left: 15px;
}