@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@400;700&display=swap');

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: yellow;
    overflow: hidden;
}